@font-face {
    font-family: 'trader_joe';
    src: url(fonts/TraderJoes-JYrx.otf);
}

body {
    background-color: #E0D8CD;
    color: #4F2A1E;
    /*
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5rem;*/
    text-align: center;
    font-family: 'trader_joe', sans-serif;
    overflow: hidden;
}

.instructions {
    font-family: Helvetica, sans-serif;
    color: #B8451A;
}

.name__label, .birthday__label {
    color: #901D2C;
}

.result {
    margin-top: -0.5rem;
    padding:2rem;
}

.result p {
    padding: 0rem;
}

.result img {
    height: 150px;
    width: auto;
    border-radius: 4px;
}

/*
.clickableItems {
    position: absolute;
    height: 300px;
    width: 600px;
    bottom: 10px;
    display: flex;
    left: -50px;
   }
*/
   .placeholder {
    display: flex;
    height: 10%;

    border-radius: 2.5px;
    filter : drop-shadow(0 0 5px rgb(0, 0, 0));
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
   }

.placeholder:not(:first-child) {
    margin-left: -50px;
}

.placeholder:hover {
    transform: translateY(-10px);
    transition: 0.4s ease-out;
  }
  
.placeholder:hover ~ .placeholder {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  */

.slider {
    /*min-height: 100vh;*/
    height: 150px;
    margin:auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide_track {
    display: flex;
    width: calc(250px * 24);
    animation: scroll 50s linear infinite;
    transition-timing-function: ease-in-out;

}

.slide_track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 12));
    }
}

.slide {
    height: 250px;
    /*width: 80%;*/
    display: flex;
    align-items: center;
    /*padding: 15px;*/
}

.slide img {
    height: 250px;
}

.slider::before, .slider::after{
    background: linear-gradient(to right, rgb(224, 216, 205, 1)  0%, rgb(224, 216, 205, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

